<template name="game"> 
   <img class="logo" src="/img/logo.png"/>
    <div class="dealer_zone">
      <img src="img/machine.png" class="machine"/>
      <span class="result-ball">
        <b class="number"> 15 </b>
      </span>
    </div>
    <ul class="player-list">
        <li>
            <span class="player-avatar"></span>
            <span class="player-name"> {{ username }} </span>
            <button class="logout">Leave</button>
        </li>
        {{#each player_list}}
            {{#if isNotMe name }}
            <li>
                <span class="player-avatar"></span>
                <span class="player-name"> {{ name }} </span>
            </li>
            {{/if}}
        {{/each}}
    </ul>
    <div id="wrapper">

      <div id="bingo_card" class="bingo_card">
        <ul class="bingo_card_header">
            <li> B </li>
            <li> I </li>
            <li> N </li>
            <li> G </li>
            <li> O </li>
        </ul>
        <div class="column column_B">
          <div class="cell">1</div>
          <div class="cell">7</div>
          <div class="cell">14</div>
          <div class="cell correct_number">12</div>
          <div class="cell">8</div>
        </div>
        <div class="column column_I">
          <div class="cell">25</div>
          <div class="cell">47</div>
          <div class="cell">62</div>
          <div class="cell">2</div>
          <div class="cell">3</div>
        </div>
        <div class="column column_N">
          <div class="cell">9</div>
          <div class="cell">30</div>
          <div class="cell">22</div>
          <div class="cell">12</div>
          <div class="cell">22</div>
        </div>
        <div class="column column_G">
          <div class="cell">11</div>
          <div class="cell">6</div>
          <div class="cell">2</div>
          <div class="cell">8</div>
          <div class="cell">9</div>
        </div>
        <div class="column column_O">
          <div class="cell">12</div>
          <div class="cell">32</div>
          <div class="cell">20</div>
          <div class="cell">19</div>
          <div class="cell">36</div>
        </div>
      </div>
      <div class="bingo-history">
          <div class="column">
              <span class="brush-font white"> B </span>
              <ul class="history-cell">
                  <li> 1 </li>
                  <li> 2 </li>
                  <li> 3 </li>
                  <li> 4 </li>
                  <li> 5 </li>
                  <li> 6 </li>
                  <li> 7 </li>
                  <li> 8 </li>
                  <li> 9 </li>
                  <li> 10 </li>
                  <li> 11 </li>
                  <li> 12 </li>
                  <li> 13 </li>
                  <li> 14 </li>
                  <li> 15 </li>
              </ul>
          </div>
         <div class="column">
              <span class="brush-font white"> I </span>
              <ul class="history-cell">
                  <li> 16 </li>
                  <li> 17 </li>
                  <li> 18 </li>
                  <li> 19 </li>
                  <li> 20 </li>
                  <li> 21 </li>
                  <li> 22 </li>
                  <li> 23 </li>
                  <li> 24 </li>
                  <li> 25 </li>
                  <li> 26 </li>
                  <li> 27 </li>
                  <li> 28 </li>
                  <li> 29 </li>
                  <li> 30 </li>
              </ul>
          </div>
          <div class="column">
              <span class="brush-font white"> N </span>
              <ul class="history-cell">
                  <li> 31 </li>
                  <li> 32 </li>
                  <li> 33 </li>
                  <li> 34 </li>
                  <li> 35 </li>
                  <li> 36 </li>
                  <li> 37 </li>
                  <li> 38 </li>
                  <li> 39 </li>
                  <li> 40 </li>
                  <li> 41 </li>
                  <li> 42 </li>
                  <li> 43 </li>
                  <li> 44 </li>
                  <li> 45 </li>
              </ul>
          </div>
          <div class="column">
              <span class="brush-font white"> G </span>
              <ul class="history-cell">
                  <li> 46 </li>
                  <li> 47 </li>
                  <li> 48 </li>
                  <li> 49 </li>
                  <li> 50 </li>
                  <li> 51 </li>
                  <li> 52 </li>
                  <li> 53 </li>
                  <li> 54 </li>
                  <li> 55 </li>
                  <li> 56 </li>
                  <li> 57 </li>
                  <li> 58 </li>
                  <li> 59 </li>
                  <li> 60 </li>
              </ul>
          </div>
         <div class="column">
              <span class="brush-font white"> O </span>
              <ul class="history-cell">
                  <li> 61 </li>
                  <li> 62 </li>
                  <li> 63 </li>
                  <li> 64 </li>
                  <li> 65 </li>
                  <li> 66 </li>
                  <li> 67 </li>
                  <li> 68 </li>
                  <li> 69 </li>
                  <li> 70 </li>
                  <li> 71 </li>
                  <li> 72 </li>
                  <li> 73 </li>
                  <li> 74 </li>
                  <li> 75 </li>
              </ul>
          </div>
      </div>
      <div id="user_button">
        <button id="new_card">New Card</button>
        <!--button id="mock_new_card">Mock New Card</button-->
        <button id="start_game">Start game</button>
      </div>
    </div>
</template>
